body { background: #afc831; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 27px; display: flex; }
.block-config-0 { color: #955776; font-size: 15px; margin-bottom: 5px; }
.block-metrics-1 { color: #578fba; font-size: 17px; margin-bottom: 5px; }
.block-invoice-2 { color: #89161c; font-size: 18px; margin-bottom: 5px; }
.block-cluster-3 { color: #79d09e; font-size: 13px; margin-bottom: 5px; }
.block-config-4 { color: #94440b; font-size: 15px; margin-bottom: 5px; }
.block-cluster-5 { color: #ea5dcd; font-size: 20px; margin-bottom: 5px; }